*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

nav{
  background:#1f2937;
  color:white;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:18px 8%;
}

nav ul{
  display:flex;
  list-style:none;
}

nav li{
  margin-left:25px;
}

nav a{
  color:white;
  text-decoration:none;
}

.features h2,
.tech h2{
  text-align:center;
  margin-bottom:40px;
}